@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@import "abstracts/variables";
@import "abstracts/animations";
@import "base/base";
@import "components/primereact";
@import "components/analytics";
@import "components/assistant";